// about or index
@media (min-width:992px){
    nav {
      ul {
        /* border: 2px solid red; */
        @include space ($nav-footer-padding, 1rem 0 0 0);
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: right;
    
      .logo {
        text-align: left;
        margin: 0;
      }
      }
    } 
  
    .main {
      @include space ($main-padding,0 auto);
      max-width: 1920px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  // product
  @media (min-width:992px) {
    .main-title {
      @include space ($title-padding,0 auto);
      display: flex;
      max-width: 1920px;
      justify-content: space-between;
    }
  
    .main-about {
      /* border: 2px solid red; */
      max-width: 1920px;
      @include space ($main-padding,0 auto);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 1rem;
      row-gap: .5rem;
      justify-content: space-between;
    }
  
    img {
      border-radius: 10px;
      margin:0;
    }
  
    .espressoimg {
      grid-column: 1;
      grid-row: 1;
    }
  
    .espresso {
      grid-column: 1;
      grid-row: 2;
    }
  
    .coffeebeansimg {
      grid-column: 2;
      grid-row: 2;
    }
  
    .coffeebeans {
      grid-column: 2;
      grid-row: 1;
    }
  
    .pouringimg {
      grid-column: 3;
      grid-row: 1;
    }
  
    .pouring {
      grid-column: 3;
      grid-row: 2;
    }
  }