// about or index
@media (min-width:992px){
    nav {
      ul {
        /* border: 2px solid red; */
        @include space ($nav-footer-padding, 1rem 0 0 0);
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: right;
    
      .logo {
        text-align: left;
        margin: 0;
      }
      }
    } 
    .main {
      @include space ($main-padding,0 auto);
      max-width: 1920px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  // product
  @media (min-width:992px) {
    .main-title {
      @include space ($title-padding,0 auto);
      display: flex;
      max-width: 1920px;
      justify-content: space-between;
    }
    .main-about {
      /* border: 2px solid red; */
      max-width: 1920px;
      @include space ($main-padding,0 auto);
      display: grid;
      @include display-grid (repeat(3, 1fr), repeat(2, 1fr), 1rem, .5rem);
      justify-content: space-between;
    }
    img {
      border-radius: 10px;
      margin:0;
    }
    .espressoimg {
      @include item-placement (1, 1);
    }
    .espresso {
      @include item-placement (1, 2);
    }
    .coffeebeansimg {
      @include item-placement (2, 2);
    }
    .coffeebeans {
      @include item-placement (2, 1);
    }
    .pouringimg {
      @include item-placement (3, 1);
    }
    .pouring {
      @include item-placement (3, 2);
    }
  }