//about or index
@media (min-width:768px){
    nav ul {
      /* border: 2px solid red; */
      @include space ($nav-footer-padding,0 auto);
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .main {
      @include space ($main-padding,0 auto);
      max-width: 992px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

//products
  @media (min-width:768px){
    .main-title {
      @include space ($title-padding,0 auto);
      display: flex;
      max-width: 992px;
      justify-content: space-between;
    }
    .main-about {
      /* border: 2px solid red; */
      max-width: 992px;
      @include space ($main-padding,0 auto);
      display: grid;
      @include display-grid (repeat(2, 1fr), repeat(3, 1fr), 1rem, 2rem);
      justify-content: space-between;
    }
    img {
      border-radius: 10px;
    }
    .espressoimg {
      @include item-placement (1, 1);
    }
    .espresso {
      @include item-placement (2, 1);
    }
    .coffeebeansimg {
      @include item-placement (1, 2);
    }
    .coffeebeans {
      @include item-placement (2, 2);
    }
    .pouringimg {
      @include item-placement (1, 3);
    }
    .pouring {
      @include item-placement (2, 3);
    }
  }
// contact
  @media (min-width:768px) {
    .main-contact {
      /* border: 2px solid red; */
      @include space ($main-padding,0 auto);
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }