$primary-color:#082B59;
$secondary-color:#59331d;
$accent-color:#d98555;
$white-color: #ffffff;
$alt-white-color: #f2f2f2;

$main-font: 'Lato', sans-serif;
$header-font:'Poppins', sans-serif;

$main-font-size: 2rem;
$nav-font-size: 1.3rem;

$fig-caption-padding: .5rem;
$main-padding: 2rem;
$title-padding: 1rem 0 0 2rem;
$button-padding: 0.5rem 1rem;
$nav-footer-padding: .5em;

$footer-margin:  0 1rem 3rem 1rem;