/* Bright blue: #082B59
Navy: #131D26
Coffee: #59331d
Peach: #D98555
White: #f2f2f2 */

/* Facebook: link to https://www.facebook.com
Twitter: link to https://www.twitter.com
Instagram: link to https://www.instagram.com	 */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import "variables";
@import "mixins";
@import "mobile";
@import "tablet";
@import "desktop";